node_modules
.next
.next_old
out
build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.local

# Evolution API
evolution-api/.env
evolution-api/instances/
